.footer 
    .footer__logo 
        img(src="/src/assets/images/footer_logo.png", alt="block1")
    .footer__content 
        p Cформированный коллектив профессионалов, готовый оказать оперативную и грамотную помощь в решении задач, возникающих при поставке товаров и их таможенном оформлении!
    .footer__link 
        a(href="https://sky-soft.su/") Cделано в SkySoft
    .footer__copy
        p Copyright @2023 All rights reserved. 
    