.header
 .container__header     
    .navigation__logo
        .navigation__logo-image
            a(href="index.pug") 
                img(src="./assets/images/logo.png", alt="Logo")
    .navigation__menu
        ul.navigation__menu-lists 
            li.navigation__menu-item
                a(href="about.pug")  О компании
                a(href="service.pug")  Услуги
                a(href="contact.pug")  Контакты
    .navigation__info
        p.navigation__info-item info@nimaris.by
        p.navigation__info-item +375 44 704 44 06 
    .menu
        a(href="#").menu-triger
        .menu-popup
            a.menu-close(href="#")
            ul 
                li 
                    a(href="#") Главная
                    a(href="#") Главная 