.header      
    .navigation__logo
        .navigation__logo-image 
            img(src="./assets/images/logo.png", alt="Logo")
    .navigation__menu
        ul.navigation__menu-lists 
            li.navigation__menu-item
                a(href="about.pug")  О компании
                a(href="#")  Услуги
                a(href="#")  Контакты
    .navigation__info
        p.navigation__info-item info@nimaris.by
        p.navigation__info-item +375 44 704 44 06 

                