.container.container__service
    .service__subtitle 
        h1 Услуги
    .service__block
        .service__block-title 
            h1 NIMARIS
        .service__block-content 
            p Предлагает комплекс услуг в области таможенного дела </br> Республики Беларусь и Таможенного Союза
    .service__block
        .block.line     
            .service__block-items
                .service__block-itemLeft.main__block
                    img(src="/src/assets/images/main_block1.png", alt="block1")
                    p.main__block-text Прохождение всех таможенных формальностей    
                .service__block-itemRight
                p
        .block.line          
            .service__block-items
                .service__block-itemLeft.main__block
                    img(src="/src/assets/images/main_block2.png", alt="block2")
                    p.main__block-text Помощь в получении документов   
                .service__block-itemRight
                    p (сертификаты, фитосанитарные свидетельства и др.)
        .block.line 
            .service__block-items
                .service__block-itemLeft.main__block
                    img(src="/src/assets/images/main_block3.png", alt="block3")
                    p.main__block-text Таможенное оформление груза «день в день»
                .service__block-itemRight
                    p Являясь уполномоченным экономическим оператаром обеспечиваем таможенное оформление груза «день в день», обладаем приорететом на таможенных постах в оформлении на всех стадиях процесса: прибытие, оформление, убытие и т.д.
        .block.line 
            .service__block-items
                .service__block-itemLeft.main__block
                    img(src="/src/assets/images/main_block4.png", alt="block4")
                    p.main__block-text Декларирование товаров в таможенных органах РБ
                .service__block-itemRight
                    p Многранный подход к таможенному оформлению оказывают существенное влияние на скорость и стоимость доставки товаров. Мы готовы не только снизить риски и ускорить доставку товаров, но и выбрать рациональный способ таможенного оформления, сократить расходы и оптимизировать все этапы движения товаров.
        .block.line     
            .service__block-items
                .service__block-itemLeft.main__block
                    img(src="/src/assets/images/main_block5.png", alt="block5")
                    p.main__block-text Консультирование по вопросам осуществления внешнеэкономической деятельности
                .service__block-itemRight
                    p Консультирование по вопросам, касающимся осуществления внешнеэкономической деятельности, валютного регулирования, таможенного законодательства Республики Беларусь и Таможенного Союза.Своевременно полученные ответы на волнующие вопросы, а также профессиональная помощь в составлении и оформлении документации, позволят избежать многих проблем и сделает внешнеэкономическую деятельность максимально выгодной.
        .block.line 
            .service__block-items
                .service__block-itemLeft.main__block
                    img(src="/src/assets/images/main_block6.png", alt="block6")
                    p.main__block-text Анализ внешнеторговых сделок
                .service__block-itemRight
                    p Аутсорсинг внешнеторговой деятельности – предоставление комплекса услуг по импорту и экспорту товаров для клиента.Поручая нам сопровождение внешнеэкономической деятельности, Вы избавляете себя от множества трудностей, связанных с импортом-экспортом товаров. Мы возьмем на себя обязательства по выполнению всех формальностей в области международной торговли.
        .block.line 
            .service__block-items
                .service__block-itemLeft.main__block
                    img(src="/src/assets/images/main_block4.png", alt="block4")
                    p.main__block-text Комплекс услуг помощи с товарами
                .service__block-itemRight
                    p Мы имеем свой склад, на территории которого используются современные системы контроля доступа и видеонаблюдения. На складе предоставляется полный комплекс услуг по сортировке, перегрузке, маркировке, перевалке, хранению товаров.
    .service__block.service__block-last
        .service__block-desc
            p Наша компания является держателем склада и предоставляет <strong>услуги по сортировке, перегрузке, маркировке,перевалке, хранению товаров и прочим таможенным операциям </strong> с товарами перемещаемыми авто- и железнодорожными транспортными средствами и находящимися под таможенным надзором.  
            p Большой опыт работы и профессионализм, высокий уровень компетентности и образованности сотрудников нашей компании позволяет<strong>оперативно осуществлять подготовку соответствующего пакета документов и сократить сроки таможенного оформления, гарантировав его качество,</strong>что в свою очередь позволяет произвести таможенную очистку груза «день в день».
.stiky 
    button.lang__mode
        p#one.lang__mode__item   Рус
        p#two.lang__mode__item.color   Еng               