.about
    img.bg-image(src="/src/assets/images/bg_about.png", alt="bg")
    .main__header 
        img(src="/src/assets/images/logo_about.png", alt="")
    .main__description 
        p Cформированный коллектив профессионалов, готовый оказать оперативную и грамотную помощь в решении задач, возникающих при поставке товаров и их таможенном оформлении!
.container.container__about
    .about__subtitle 
        h1 О компании
    .about__description
        p   Общество с ограниченной ответственностью «Нимарис» (ООО «Нимарис») - это сформированный коллектив профессионалов, готовый оказать оперативную и грамотную помощь в решении задач, возникающих при поставке товаров и их таможенном оформлении. 
.container.container__about-block
    .about__subtitle-item
        h1 Главная цель компании
    .about__description
        p.about__description-item  Профессиональная помощь и оптимизация бизнес процессов по торговым сделкам.
.container.container__about-item
    .about__description
        p   ООО «Рикманс» обладает статусом Уполномоченного экономического оператора (УЭО), что позволяет гарантировать качество оказываемого сервиса. Помимо этого, статус УЭО предоставляет ряд иных преференций со стороны государства, что существенно сокращает коммерческие расходы и временные издержки при осуществлении таможенных операций. Иными словами, Мы помогаем экономить время и деньги клиента.
        p.about__description-item   Вся деятельность компании ООО «Рикманс» осуществляется в соответствии с действующим законодательством Республики Беларусь и законодательством ЕАЭС.