.main
    img.bg-image(src="/src/assets/images/Rectangle9.png", alt="bg")
    .main__header 
        h1 Профессиональная помощь </br> и оптимизация бизнес процессов  по торговым сделкам
    .main__description 
        p Cформированный коллектив профессионалов, готовый оказать оперативную и грамотную помощь в решении задач, возникающих при поставке товаров и их таможенном оформлении!    
.container.container__main
  .main__subtitle 
    h1 Услуги
  .row
    .col.main__block
        img(src="/src/assets/images/main_block1.png", alt="block1")
        p.main__block-text Прохождение всех таможенных формальностей
    .col.main__block
        img(src="/src/assets/images/main_block2.png", alt="block2")
        p.main__block-text Помощь в получении документов
    .col.main__block
        img(src="/src/assets/images/main_block3.png", alt="block3")
        p.main__block-text Таможенное оформление груза «день в день»
    .col.main__block
        img(src="/src/assets/images/main_block4.png", alt="block4")
        p.main__block-text Декларирование товаров в таможенных органах РБ
  .row.justify-content-md-center
    .col.col-md-auto.main__block
        img(src="/src/assets/images/main_block5.png", alt="block5")
        p.main__block-text Анализ внешнеторговых сделок
    .col.col-md-auto.main__block
        img(src="/src/assets/images/main_block6.png", alt="block6")
        p.main__block-text Консультирование по вопросам осуществления внешнеэкономической деятельности
    .col.col-md-auto.main__block
        img(src="/src/assets/images/main_block7.png", alt="block7")
        p.main__block-text Комплекс услуг помощи с товарами
.container.container__main
  .main__subtitle 
    h1 Преимущества
  .row.justify-content-md-center
    .col.col-md-auto.main__item
        img(src="/src/assets/images/item1.png", alt="item1")
        p.main__item-title Опытная команда
        p.main__item-content Компетентные, образованные сотрудники с большим опытом работы и профессионализмом
    .col.col-md-auto.main__item
        img(src="/src/assets/images/item2.png", alt="item2")
        p.main__item-title Оперативность
        p.main__item-content Осуществляем оперативную подготовку соответствующего пакета документов, сократив сроки таможенного оформления
    .col.col-md-auto.main__item
        img(src="/src/assets/images/item3.png", alt="item3")
        p.main__item-title Гарантия качества
        p.main__item-content Производим таможенную очистку груза “день в день”
.stiky 
    button.lang__mode
        p#one.lang__mode__item   Рус
        p#two.lang__mode__item.color   Еng