.main
    img.bg-image(src="/src/assets/images/Rectangle9.png", alt="bg")
    .main__header 
        h1 Профессиональная помощь </br> и оптимизация бизнес процессов  по торговым сделкам
    .main__description 
        p Cформированный коллектив профессионалов, готовый оказать оперативную и грамотную помощь в решении задач, возникающих при поставке товаров и их таможенном оформлении!    