doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="./assets/scss/main.scss")
    title Home
  body
    .wrapper
      include  ./assets/components/header.pug
      .content
        include  ./assets/components/main_index.pug
      include  ./assets/components/footer.pug
      script(type="module", src="./assets/js/main.js")