doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="./assets/scss/main.scss")
    title Home
  body
    include  ./assets/components/header.pug
    include  ./assets/components/main_index.pug
    script(type="module", src="./assets/js/main.js")