doctype html
html(lang="en")
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./assets/scss/main.scss")
    title Home
  body
    .wrapper
      include  ./assets/components/header.pug
      .content
        include  ./assets/components/main_service.pug
      include  ./assets/components/footer.pug
      script(type="module", src="./assets/js/main.js")